/* Footer
-------------------------------------------------- */
.footer {
  font-size: .8em;
  background-color: $green;

  .footer-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 2em 1em;
    overflow: auto;

    @include bp ( medium ){
      max-width: 65%;
      padding: 2em 0;
    }

    @include bp( large ) {
      max-width: 45rem;
    }

    svg {
      width: 75px;
      height: 100%;
      float: left;
    }

    .footer-text {
      display: inline-block;
      margin-left: 5%;
      margin-top: 4%;
      float: left;

      @include bp ( medium ) {
        margin-left: 3%;
        margin-top: 1em;
      }

      a {
        text-decoration: underline;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: $green;
  padding-left: .25em;
}
