body.home {

  main {
    color: $white;
    padding-bottom: 0;
    padding-top: 0;

    .text {
      max-width: 95%;
      margin: 0 auto;
      padding: 3em 1em;
      color: $black;
      @include bp( medium ) {
        max-width: 65%;
        padding:6em 0em;
      }

      @include bp( large ) {
        max-width: 45em;
      }

      h1 {
      	font-size: 2em;
      	font-family: "Din Rounded", sans-serif;
      	color: $green;
      	margin-bottom: 0;

      	@include bp( medium ) {
      		font-size: 4em;
      	}
      }

      h2 {
        font-size: 1.5em;

      	@include bp( medium ) {
      		font-size: 2em;
      	}
      }

      blockquote {
        p {
          margin-top: 0;
        }
      }

      a {
        text-decoration: underline;
      }

      a:hover {
        color: $black;
      }

      p:last-child {
        margin-bottom: 0;
      }

    }

    .text.bottom {
      padding: 2em 1em;

      @include bp ( medium ) {
        padding: 2em 0;
      }

      h2 {
        margin-bottom: 0;
      }
    }

    .text#splash {
      padding-top: 50vh;
    }
    .interested {
      border: 2px solid $green;
      width: 230px;
      height: 60px;
      margin: auto;
      text-align: center;
      padding: .5em;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15%;
      border-radius: 2px;
      &:hover {
        background-color: $green;
        transition:background-color 0.5s ease-in-out;

        h2 {
          color: $white;
          text-shadow: none;
        }
      }
      h2 {
        text-transform: uppercase;
        display: inline;
        font-weight: 600;
        text-shadow: 1px 1px $white;
      }
    }

    h2.featured {
      width: 95%;
      margin: 0 auto;

      @include bp( medium ) {
        max-width: 65%;
      }

      @include bp( large ) {
        max-width: 45em;
      }
    }
  }
  #video_block {
    position: relative;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    // Full screen video styles
    video#bgvid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height:
    auto;
    z-index: -100;
    }

    h2 {
      text-shadow: 2px 2px $black;
      color: $white;
    }

    @media screen and (max-width: 800px) {
      background: url(../images/mobile_placeholder.jpg) #000 no-repeat center center fixed;
      background-size: cover;
      #bgvid { display: none; }
    }
  }

  .green_block {
    background-color: $green;
    color: $black;
    transition: all .5s ease;
    position: relative;

    h2 {
      color: $black;
    }

  }

  .green_block.featured {
    // background-image: url('../images/pattern.jpg');
    // background-size: cover;
    // background-position: center center;
    .text {
      padding: 2em 1em;

      @include bp ( medium ) {
        padding: 2em 0;
      }

      h2 {
        margin-bottom: 0;
      }
    }
  }

  .picture_block {
    background-image: url('../images/pattern.jpg');
    background-size: cover;
    background-position: center center;

    h2 {
      color: $white;
      text-shadow: 2px 2px $black;
    }
  }

  #intro_paragraph {
    background-color: $white;
  }

  #project_blocks {
    overflow: auto;
    background-color: $white;

    .project {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: center center;
      position: relative;
      transition: all .5s ease;

      .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(35,31,32, .7);
        transition: opacity .5s ease;

        h4 {
          margin-bottom: 0;
          max-width: 95%;
          margin: 0 auto;
          padding: 1em;
        }


      }

      @include bp (medium) {
        width: 50%;
        height: 400px;
        float: left;
        opacity: .5;

        &:hover {
          opacity: 1;
          background-position: left top;
        }

        .caption {
          opacity: 0.0;
        }
        &:hover {

          .caption {
            opacity: 1;
          }
        }
      }
    }
  }

  #concept_block {
    background-color: $white;

    span {
      font-style: italic;
      color: $green;
    }

    img {
      width: 75%;
      margin: 3em auto 0 auto;
    }
  }

  .inner-container {
    max-width: 100%;
  	margin: 0 auto;

  	@include bp (medium) {
  		max-width: 100%;
  	}
  }

  .white {
    color: $white;
  }
}
