body.home {

  @media screen and (max-width: 800px) {
    background: url(../images/8bitportrait.png) #000 no-repeat center center fixed;
  }

  main {
    color: $white;

    .text {
      text-align: center;
      margin-top: 5%;
      h1 {
        text-shadow: 2px 2px $black;
        font-size: 1.5em;

        @include bp( tablet ){
          font-size: 2em;
        }
      }
    }
    .interested {
      border: 2px solid $green;
      width: 230px;
      height: 60px;
      margin: auto;
      text-align: center;
      padding: .5em;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15%;
      border-radius: 2px;
      &:hover {
        background-color: $green;
        transition:background-color 0.5s ease-in-out;

        h2 {
          color: $white;
          text-shadow: none;
        }
      }
      h2 {
        text-transform: uppercase;
        display: inline;
        font-weight: 600;
        text-shadow: 1px 1px $white;
      }
    }
  }

  // Full screen video styles
  video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(../images/8bitportrait.png) no-repeat;
  background-size: cover;
  }

  @media screen and (max-width: 800px) {
  body { background: url(../images/8bitportrait.png) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
  }
}
