/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: $green;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;

  .work_image {
    height: 300px;
    background-size: cover;
    background-position: center center;
    transition: opacity .5s ease;

    @include bp (medium) {
      height: 400px;

      &:hover {
        opacity: .5;
      }
    }
  }
}
.teaser .project_block {
  margin-bottom: 1.5em;
  list-style: none;
  //height: 350px;
  overflow: hidden;
  padding-bottom: 2em;
  border-bottom: 2px solid $green;

}
@include bp (tablet) {
  .teaser .project_block {
    // float: left;
    margin-bottom: 2em;
  }

  .teaser li {
    // width: 48%;
  }
  .project_block li:first-child {
    // margin-left: 0;
    // float: left;
    margin-bottom: 2em;
  }
  .project_block li:nth-child(2) {
    // float: right;
  }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}

body.project {

  main {

    .text, img {
      margin: 2em 0;
    }

    figure {
      background-image: url(../images/pattern.jpg);
      background-size: cover;
    }

    img {
      width: 100%;
      transition: opacity .5s ease;

      &:hover {
        opacity: 0;
      }
    }

    a {
      border-bottom: 2px solid $black;

      &:hover {
        border-bottom: 2px solid $green;
      }
    }

    h5 {
      margin-bottom: 2em;
      display: inline-block;

    }
  }

}
